{% extends 'template.html' %}
{% load static %}
{% block title %}Контакты{% endblock title %}
{% block body %}
    <div class="container_contacts">
        <span class="title_contacts">Наши магазины</span>
        <span class="subtitle_contacts">Заходите в гости</span>
        <img src="{% static 'polls/img/contacts11.png'%}" alt="image" class="image1_contacts"/>
        <img src="{% static 'polls/img/contacts12.png'%}" alt="image" class="image2_contacts"/>
        <img src="{% static 'polls/img/contacts13.png'%}" alt="image" class="image3_contacts"/>
        <img src="{% static 'polls/img/contacts23.png'%}" alt="image" class="image4_contacts"/>
        <img src="{% static 'polls/img/contacts22.png'%}" alt="image" class="image5_contacts"/>
        <img src="{% static 'polls/img/contacts21.png'%}" alt="image" class="image6_contacts"/>
        <span class="shop1">Магазин 1</span>
        <span class="address1">
            <span>Санкт-Петербург, Большая Конюшенная, 9</span>
            <br></br>
            <span>Пн – Вс, 12:00−20:00</span>
            <br></br>
            <span>тел. +7 921 420 62 62</span>
        </span>
        <span class="shop2">Магазин 2</span>
        <span class="address2">
            <span>Санкт-Петербург, Большой проспект П.С. 28\1</span>
            <br></br>
            <span>Пн – Вс, 11:00–20:00</span>
            <br></br>
            <span>тел. +7 921 184 66 69</span>
        </span>
    </div>
{% endblock %}








