<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    <link type="image/png" sizes="16x16" rel="icon" href="{% static 'polls/img/favicon1.ico'%}">
    <meta charset="UTF-8">
    <title>Оправы</title>
</head>
<header>
    <div class="logo">
        <a href="/">
            <img src="{% static 'polls/img/logo2.svg'%}" width="140px" height="70px">
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/frames">Оправы</a></li>
            <li><a href="/sunglasses">Солнцезащитные очки</a></li>
            <li><a href="/lenses">Линзы</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </div>
</header>
<body>
    <div class="description_frames">
        <h1>Оптические оправы</h1>
    </div>
     <div class="cards_frames">
        {% for product in products %}
        <div class="card_frames">
            <img src={{ product.image }}>
            <section class="details_frames">
                <div class="min-details_frames">
                  <h1>{{ product.name }}<span>{{ product.color }}</span></h1>
                  <h1 class="price_frames">{{ product.price }} ₽</h1>
                </div>
            </section>
        </div>
        {% endfor %}
    </div>
</body>
<footer>
    <div class="footer">&copy;
        <span id="year"></span>
        <span> очкофф. all rights reserved.</span>
    </div>
</footer>
</html>




