{% extends 'template.html' %}
{% load static %}
{% block body %}
    <div class="description_frames">
        <h1>Оптические оправы</h1>
    </div>
     <div class="cards_frames">
        {% for product in products %}
        <div class="card_frames">
            <img src={{ product.image }}>
            <section class="details_frames">
                <div class="min-details_frames">
                  <h1>{{ product.name }}<span>{{ product.color }}</span></h1>
                  <h1 class="price_frames">{{ product.price }} ₽</h1>
                </div>
            </section>
        </div>
        {% endfor %}
    </div>
{% endblock %}




