{% extends 'template.html' %}
{% load static %}
{% block title %}Главная страница{% endblock title %}
{% block body %}
     <div class="container_main_page">
      <span class="text_main_page">Оптика, которая оформляет эмоции</span>
      <img src="{% static 'polls/img/img.png'%}" alt="image" class="image1"/>
      <span class="text1_main_page">Почему так важно носить очки?</span>
      <span class="subtitle1_main_page">
          Глаза — это мозг на периферии. Если вы хотите, чтобы он полноценно
          работал, им нужно помогать. Если длительное время игнорировать
          даже небольшую недокоррекцию, мозг может привыкнуть к плохому
          зрению, и будет очень сложно вернуть глаза к здоровому состоянию.
          К тому же, длительная недокоррекция тянет за собой нарушение
          когнитивных функций и общего состояния нервной системы.
          <br></br>
          Заботьтесь о глазах вовремя.
      </span>
      <span class="text2_main_page">Советы по уходу за очками</span>
      <span class="title2_main_page">Пользуйтесь салфетками из микрофибры</span>
      <span class="subtitle2_main_page">
          Протирайте очки и линзы только салфеткой из микро-фибры, которая идёт в
          комплекте с очками. Обычная ткань может поцарапать линзы, а испорченные
          линзы напрямую ведут к испорченному зрению. Стирать салфетку можно
          жидким порошком или хозяйственным мылом.
      </span>
      <span class="title3_main_page">Будьте осторожны с очистителями и лаками</span>
      <span class="subtitle3_main_page">
          Не нужно использовать ацетон и другие активные очистители.
          А ещё нельзя распылять лак для волос вблизи очков, потому что он может остаться на покрытии линз навсегда.
      </span>
      <span class="title4_main_page">Берегите очки от царапин и перепада температур</span>
      <span class="subtitle4_main_page">
          Не кладите очки линзами вниз, лучше всегда хранить их в футляре. Берегите их от
          прямых лучей солнца и перепада температур. Например, не стоит оставлять
          очки под палящим солнцем в машине или заглядывать в очках в приоткрытую духовку.
          Ровно так же всё работает и с чрезмерным охлаждением.
      </span>
      <span class="title5_main_page">Снимайте и надевайте очки правильно</span>
      <span class="subtitle5_main_page">
          Простая привычка, которая продлит жизнь очков: снимайте и надевайте их двумя руками,
          а не тяните за одну дужку. В крайнем случае можно снять очки одной рукой, взявшись за рамку оправы или переносицу.
      </span>
      <span class="title6_main_page">Если очки сломались — мы поможем</span>
      <span class="subtitle6_main_page">
          Не носите сломанные очки и не пытайтесь починить их самостоятельно.
          Это вредно для глаз и настроения. Свяжитесь с нами — и мы поможем решить проблему.
      </span>
      <span class="title7_main_page">Приносите очки на технический осмотр</span>
      <span class="subtitle7_main_page">
          Если проблем нет, то всё равно приносите свои очки на технический осмотр:
          наш специалист подскажет, есть ли необходимость заменить линзы. Ведь даже микроцарапины могут повредить зрению.
      </span>
    </div>
    <div class="contact-rigth">
        <p>Остались вопросы? <br><span>свяжитесь с нами.</span></p>
        <form action="feedback/" method="post" class="contact-form">
        {% csrf_token %}
            <div class="third-row">
                <input name="email" type="email" placeholder="Email">
                <textarea name="message" id="" rows="7" placeholder="Message"></textarea>
            </div>
            <button class="btn" type="submit">Send Message <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
{% endblock %}








