{% extends 'template.html' %}
{% load static %}
{% block body %}
    <div class="container_lenses">
        <span class="title1_lenses">Линзы оптические</span>
        <span class="subtitle1_lenses">
            <span>Мы работаем с лабораторией и мастерской французских линз Essilor Crizal.</span>
            <br></br>
            <span>Cрок изготовления 3-5 рабочих дней.</span>
            <br></br>
            <span>Стоимость указана за пару, изготовление бесплатно.</span>
            <br></br>
            <br></br>
            <span>Если вы хотите оформить заказ на линзы, свяжитесь с нами удобным для вас способом.</span>
        </span>
        <span class="title2_lenses">Виды линз</span>
        <span class="subtitle2_lenses">
            <span>Линзы есть любых видов и сложности: антикомпьютерные, от УФ-излучения, антибликовые, поляризационные, фотохромные, бифокальные,прогрессивные.</span>
            <br></br>
            <span>Напоминаем, что у нас пока нет кабинета оптометриста, мы изготавливаем очки по рецепту.</span>
            <br></br>
            <span>Также, в оптике на Большой конюшенной 9, мы можем проверить какие диоптрии стоят в ваших текущих очках, если вам в них комфортно и у вас нет астигматизма.</span>
        </span>
    </div>
{% endblock %}








