<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    <link type="image/png" sizes="16x16" rel="icon" href="{% static 'polls/img/favicon1.ico'%}">
    <meta charset="UTF-8">
    <title>Линзы</title>
</head>
<header>
    <div class="logo">
        <a href="/">
            <img src="{% static 'polls/img/logo2.svg'%}" width="140px" height="70px">
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/frames">Оправы</a></li>
            <li><a href="/sunglasses">Солнцезащитные очки</a></li>
            <li><a href="/lenses">Линзы</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </div>
</header>
<body>
    <div class="container_lenses">
        <span class="title1_lenses">Линзы оптические</span>
        <span class="subtitle1_lenses">
            <span>Мы работаем с лабораторией и мастерской французских линз Essilor Crizal.</span>
            <br></br>
            <span>Cрок изготовления 3-5 рабочих дней.</span>
            <br></br>
            <span>Стоимость указана за пару, изготовление бесплатно.</span>
            <br></br>
            <br></br>
            <span>Если вы хотите оформить заказ на линзы, свяжитесь с нами удобным для вас способом.</span>
        </span>
        <span class="title2_lenses">Виды линз</span>
        <span class="subtitle2_lenses">
            <span>Линзы есть любых видов и сложности: антикомпьютерные, от УФ-излучения, антибликовые, поляризационные, фотохромные, бифокальные,прогрессивные.</span>
            <br></br>
            <span>Напоминаем, что у нас пока нет кабинета оптометриста, мы изготавливаем очки по рецепту.</span>
            <br></br>
            <span>Также, в оптике на Большой конюшенной 9, мы можем проверить какие диоптрии стоят в ваших текущих очках, если вам в них комфортно и у вас нет астигматизма.</span>
        </span>
    </div>
</body>
<footer>
    <div class="footer">&copy;
        <span id="year"></span>
        <span> очкофф. all rights reserved.</span>
    </div>
</footer>
</html>







