{% extends 'template.html' %}
{% load static %}
{% block title %}Солнцезащитные очки{% endblock title %}
{% block body %}
    <div class="description_sunglasses">
        <h1>Солнцезащитные очки</h1>
    </div>
    <div class="cards_sunglasses">
        {% for item in items %}
        <div class="card_sunglasses">
            <img src={{ item.image }}>
            <section class="details_sunglasses">
                <div class="min-details_sunglasses">
                  <h1>{{ item.name }}<span>{{ item.color }}</span></h1>
                  <h1 class="price_sunglasses">{{ item.price }} ₽</h1>
                </div>
            </section>
        </div>
        {% endfor %}
    </div>
{% endblock %}



